body {
    /* remove margins and scroll bars */
    margin: 0;
    overflow: hidden;
  
    /* style text */
    text-align: center;
    font-size: 12px;
    font-family: Sans-Serif;
  
    /* color text */
    color: #444;
  }
  
  #scene-container {
    /* tell our scene container to take up the full page */
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: skyblue; */
  }

  button {
    font-size: 15pt;
    text-align: center;
    position: absolute;
    min-width: 80px;
    border-radius: 0;
    z-index: 1;
  }

  .nextStepButton {
    top: 15px;
  }

  :xr-overlay{
    display: initial;
  }